html, body, div, ul {
  margin: 0;
  padding: 0;
  border:0;
}

#root {
  display: flex;
  justify-content: center;
  height: 100vh;

  border: 1px solid blue;
}

.form-container {
  height: 13%;
  margin-top: 30px;
}

.input-row {
  display: flex;
  justify-content: space-between;
}

.todos-container {
  margin-top: 50px;
}

* {
  //border: 1px solid red;
}